body h2{
    font-family: sans-serif;
}
.picture { 
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC; padding: 3px;
    font: 11px/1.4em Arial, sans-serif; 
}
.picture img { 
    border: 1px solid #CCCCCC;
    vertical-align:middle; 
    margin-bottom: 3px;
}
.left { 
    margin: 0.5em 0.8em 0.5em 0; 
    float:left;
}